.footer {
    align-items: center;
    justify-content: space-between;
    background-color: #ddd;
    display: flex;
    padding: 0.5rem;
    .business-info {
        display: flex;
        align-items: center;
    }
}