<h3 class="page-header">Button page</h3>
<div class="page-content">
  <mat-card class="card-content">
    <mat-card-header>
      <mat-card-title>Simple buttons</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-button>Prueba</button>
    </mat-card-content>
  </mat-card>
  <mat-card class="card-content">
    <mat-card-header>
      <mat-card-title>Raised buttons</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button>Prueba</button>
    </mat-card-content>
  </mat-card>
  <mat-card class="card-content">
    <mat-card-header>
      <mat-card-title>Stroked buttons</mat-card-title>
    </mat-card-header>
  </mat-card>
</div>