<mat-list role="list">
  <div mat-subheader>Navigation</div>
  <a mat-list-item routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true} ">
    <mat-icon matListItemIcon>dashboard</mat-icon>
    <span matiListItemTitle>Home</span>
  </a>
  <a mat-list-item routerLink="buttons" routerLinkActive="active-link">
    <mat-icon matListItemIcon>people</mat-icon>
    <span matiListItemTitle>Buttons</span>
  </a>
  <div mat-subheader>Normal list</div>
  <mat-list-item role="listitem">Item 1</mat-list-item>
  <mat-list-item role="listitem">Item 2</mat-list-item>
  <mat-list-item role="listitem">Item 3</mat-list-item>
</mat-list>