// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$mat-custom-primary: (
  50 : #eceefc,
  100 : #cfd5f7,
  200 : #afb9f2,
  300 : #8e9ded,
  400 : #7688e9,
  500 : #5e73e5,
  600 : #566be2,
  700 : #4c60de,
  800 : #4256da,
  900 : #3143d3,
  A100 : #ffffff,
  A200 : #e5e7ff,
  A400 : #b2b9ff,
  A700 : #98a2ff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

// Define the custom palettes.
$custom-primary: mat.define-palette($mat-custom-primary);
$custom-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// Define the theme object.
$custom-theme: mat.define-light-theme((color: (primary: $custom-primary,
        accent: $custom-accent,
      )));

// Include the theme styles for Angular Material components.
@include mat.all-component-themes($custom-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px
}

.page-header {
  padding: 1rem 2rem;
}

.page-content {
  padding: 1rem 2rem;
}